@{
    ViewBag.Title = "About";
}
<p>
    <br />
    Nassim Rihan <br />
    Estagiário no CEPEDI <br />
    Itabuna
</p>

<p>
    Contato <br />
    nrihan06@gmail.com <br />
    www.linkedin.com/in/nassimrihan-32aab520a (LinkedIn)
</p>


<p>
   
    Resumo <br />
    -Estagiário em Desenvolvimento web no CEPEDI.
    - Trabalhei como full stack em diversos sistemas, com foco em PHP,
    JS e MySQL, atuando no desenvolvimento de sites para clientes. Na
    intellisys, trabalhei com desenvolvimento de sistemas web, desktop
    e mobile com foco em CRM, utilizando windev e webdev com SQL,
    Server e Oracle. Além disso, desenvolvi alguns aplicativos mobile,
    com React-Native e também API com Node.js para consumo desses
    sistemas mobile.
    Portanto, possuo conhecimentos nas seguintes em diversas
    palavras chave, quais sejam, React, React-Native, PHP, Node,
    Javascript, JQuery, HTML, CSS, MySQL, MariaDB, Clean Code,
    Design Patterns, Git, GitLab, GitHub, MVC, POO, REST, Web API,
    SOLID, Scrum, CI/CD. <br /> <br />
   
    Experiência <br /> <br />
    
    CEPEDI <br />
    Estagiário
    novembro de 2020 - Present (1 ano 1 mês)
    Ilhéus, Bahia, Brasil
    Desenvolvimento de sistemas web, utilizando .NET, .NET Core, Entity, SQL
    Server, Angular, KnockoutJs, HTML, CSS, Bootstrap.<br /> <br />
    
    Autônomo <br />
    Desenvolvedor da web
    julho de 2016 - Present (5 anos 5 meses)
    Desenvolvimento de sistemas web e mobile, utilizando PHP, JS e MySQL,
    Node, React, React-Native <br /> <br />
    
    Intellisys Consulting <br />
    Estagiário
    setembro de 2018 - setembro de 2020 (2 anos 1 mês)    
    Itabuna, Bahia, Brasil
    Estagiário em Desenvolvimento (Mobile, Web e Desktop) <br /> <br />
    
    Formação acadêmica <br />
    Universidade Estadual de Santa Cruz
    Ensino Superior, Ciência da Computação
</p>
